/* 
   =======================
   RESET AND GLOBAL STYLES
   =======================
*/
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}

/*
   =======================
   HEADER STYLES
   =======================
*/
header {
  width: 100%;
  height: 60px;
  position: fixed;
}

/*
   =======================
   NAVIGATION BAR STYLES
   =======================
*/
nav {
  height: 100%;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main navigation container styles */
.navbar {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo styles within the navigation bar */
.navbar .logo {
  width: 10%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.navbar_items {
  float: left;
}
.logo img {
  width: 80%;
}

/* Search bar styles within the navigation bar */
.searchbar {
  width: 40%;
  height: 70%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Search input placeholder text styles */
.searchbar input::placeholder {
  font-size: 15px;
}

/* Search input styles */
.searchbar input {
  width: 85%;
  height: 80%;
  outline: 0;
  border: none;
}

/* Search icon styles */
.searchbar i {
  color: #3692ff;
}

/* Unordered list styles within the navigation bar */
.navbar ul {
  width: 50%;
  text-align: center;
}

/* List item styles within the navigation bar */
.navbar ul li {
  width: 25%;
  list-style: none;
  font-size: 15px;
  float: left;
  box-sizing: border-box;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 600;
}

/*
   =======================
   SHORT SEARCHES SECTION STYLES
   =======================
*/
.shortsearch {
  height: fit-content;
  display: flex;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
}

/* Unordered list styles in the short searches section */
.shortsearch ul {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid rgb(179, 179, 179);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* List item styles in the short searches section */
.shortsearch ul li {
  width: 10%;
  font-size: 14px;
  padding: 15px 0;
  text-align: center;
  font-weight: 600;
  font-family: Roboto, Arial, sans-serif;
  float: left;
  list-style: none;
  box-sizing: border-box;
  color: black;
}

/*
   =======================
   SECTION STYLES
   =======================
*/
section {
  width: 100%;
  height: 190vh;
}

/* Left part of the section styles */
.part1 {
  width: 42%;
  padding: 20px;
  height: 400px;
  float: left;
  box-sizing: border-box;
}

/* Right part of the section styles */
.part2 {
  width: 58%;
  height: 400px;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}

/* Heading styles */
.head {
  font-size: 20px;
  font-weight: 600;
  color: #212121;
}

/* Rating section styles */
.rating {
  height: 40px;
  display: flex;
  align-items: center;
}

/* Rating text styles */
.rating > p {
  font-size: medium;
  float: left;
  font-size: 15px;
  padding: 0 10px;
  color: grey;
}

/* Rating logo styles */
.rating_logo {
  width: 45px;
  height: 22px;
  font-size: 20px;
  background-color: #388e3c;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

/* Rating logo image styles */
.rating_logo img {
  float: left;
  width: 11px;
  height: 11px;
}

/* Additional rating information styles */
.rating_logo p {
  float: left;
  font-size: 12px;
  color: rgb(255, 255, 255);
}

/* Assured section styles */
.assured {
  width: 80px;
}

/* Offer amount styles */
.offer_amount {
  color: green;
  padding: 5px 0;
  font-size: 15px;
}

/* Price tags styles */
.price_tags {
  display: flex;
  align-items: center;
}

/* Primary price tag styles */
.price_tag1 {
  font-size: 40px;
  float: left;
}

/* Secondary price tag (strike-through) styles */
.price_tag2 {
  font-size: 20px;
  padding: 0 15px;
  text-decoration: line-through;
  color: grey;
  float: left;
}

/* Offer percent styles */
.offer_percent {
  font-size: 20px;
  color: green;
}

/*
   =======================
   OFFERS SECTION STYLES
   =======================
*/
.offers {
  padding: 10px 0;
}

/* Offer section heading styles */
.offers h2 {
  font-size: 18px;
  padding: 10px 0;
}

/* Individual offer line styles */
.offer_line {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

/* Offer icon styles */
.offer_line i {
  width: 15px;
  float: left;
  color: #388e3c;
}

/* Offer text styles */
.offer_line p {
  padding: 0 10px 0 20px;
  font-size: 15px;
  float: left;
}

/* Offer link styles */
.offer_line a {
  font-size: 15px;
}

/* 'More offers' link styles */
.more_offers {
  font-size: 15px;
  color: #3692ff;
}

/*
   =======================
   EXCHANGE SECTION STYLES
   =======================
*/
.exchange {
  width: 60%;
  border: 1px solid rgb(174, 174, 174);
}

/* Individual exchange item styles */
.exchange_item {
  padding: 17px;
}

/* Label styles within exchange items */
.exchange_item label {
  font-size: 15px;
}

/* Exchange item name styles */
.exchange_name {
  padding: 0 10px;
  font-size: 15px;
}

/* Exchange item amount styles */
.exchange_amount {
  float: right;
  font-weight: 500;
}

/*
   =======================
   SPONSOR SECTION STYLES
   =======================
*/
.sponsor {
  width: 100%;
  height: 100px;
  padding: 50px 0;
}

/* Sponsor logo styles */
.sponsor_logo {
  width: 20%;
  height: 50px;
  float: left;
}

/* Sponsor logo image styles */
.sponsor_logo img {
  width: 80px;
  padding: 5px;
  border: 1px solid rgb(166, 166, 166);
}

/* Sponsor text styles */
.sponsor_text {
  width: 80%;
  float: left;
  font-size: 15px;
}

/* Sponsor text paragraph styles */
.sponsor_text p {
  line-height: 25px;
}

/* Sponsor text link styles */
.sponsor_text p a {
  padding: 0 3px;
  color: #3692ff;
  text-decoration: none;
}

/*
   =======================
   CUSTOMIZE SECTION
   =======================
*/
/* Add your custom styles here */

/* 

   The above CSS provides styling for a webpage layout, including a fixed header, 
   navigation bar, search bar, section with two parts, and various styled sections
   like ratings, offers, exchange, and sponsors.
*/
